html {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  min-height: 100%;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

ul,li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  display: block;
  /* background-color: grey; */
  box-sizing: inherit;
  margin:0;
}

.section1 {
  background-color: #1c1c1c;
  border: 20px solid;
  border-color: white;
  height: 98vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.section2 {
  border: 20px solid;
  border-color: white;
  background-image: url("../images/metest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section3 {
  background-color: #1c1c1c;
  border: 20px solid;
  border-color: white;
}

.aboutme-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.aboutme-container {
  background: rgba(52,37,37,.75);
  min-height: inherit;
}

.image-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

.mypicture {
  width:500px;
  height: 500px;
  border-radius: 70%;
  margin-top: 40%;
}

.landing-content-container {
  /* background-color: violet; */
  margin: 40px;
}

.landing-content {
  margin-left: 10px;
}

.name {
  font-size: 6em;
  font-weight: bold;
}

.title {
  font-size: 2em;
  font-weight: lighter;
  line-height: 1.6em;
  padding-top: 10px;
  padding-bottom: 20px;

}

.font-aboutme-title {
  font-size: 4em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.font-aboutme-content {
  font-size: 2em;
  font-weight: lighter;
  line-height: 1.6em;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

hr {
  height: 1px;
  border: 0;
  border-top: 10px solid white;
  margin: 1em 0;
  width: 75px;
  padding: 0;
}

.aboutme-hr {
  height: 1px;
  border: 0;
  border-top: 5px solid white;
  margin: 1em 0;
  width: 200px;
  padding: 0;
  align-self: center;
  margin-bottom: 50px;
}

.c-button {
  padding: 10px 20px;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  background-color: hsla(0,0%,100%,.02);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid hsla(0,0%,100%,.5);
  -webkit-transition: border-color .35s cubic-bezier(.165,.84,.44,1);
  transition: border-color .35s cubic-bezier(.165,.84,.44,1);
  font-size: 2em;
  font-weight: lighter;

}

.walkme-image {
  width: 60%;
}

.portfolio-container1 {
  
}

@media  (min-width: 1200px)  {
  .section1 {
    border: 10px solid;
  }

  .section2 {
    border: 10px solid;
    background-position: inherit;
    min-height: 500px;
  }

  .section3 {
    border: 10px solid;
  }

  .mypicture {
    margin-top: 4%;
  }

  .font-aboutme-content{
    font-size: 1em;
  }

  .aboutme-content {
    min-height: inherit;
    padding-left: 10%;
    padding-right: 10%;
  }
}