<style type="text/css">
* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
body {
    display: flex;
    flex-direction: column;
    color: white;

}
.section{
    margin:0px;
    bottom:0px;
    width:100%;
    float:left;
    height:100%;
    text-shadow:1px 1px 2px #f0f0f0;
}
.ul-nav {
    display:flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    
}
.li-nav {
    list-style: none;
    display:flex;
    padding: 5px;
}

.top-nav {
    display:flex;
    flex-direction: column;
    flex: 1;
    max-height: 70px;
    /* background-color: purple; */
}

.top-nav-name {
    display: flex;
    color: white;
    font-family: "Futura";
    font-size: 40px;
    height: 100%;
    margin-left: 10px;

}

.top-nav-links {
    color: white;
    font-family: "Futura";
    display: flex;
    flex-direction: row;
    height:100%;
    color: white;
    margin-left: 20px;

}
a {
    text-decoration: none;
    color: white;
    display: flex;
    margin-top: 10px;
}

a:hover {
    color: #ff008d;
}

.transform-grid {
    perspective: 800px;
    transform-style: preserve-3d;
    flex: 1;
}

.repeating-grid {
    position: absolute;
    top: 0px; bottom: -390px;
    left: 0; right: 0;
    z-index: 0;
    background-image:
    repeating-linear-gradient(0deg, rgba(102,22,224,0.44), rgba(102,22,224,0.44) 2px, transparent 6px, transparent 120px),
    repeating-linear-gradient(90deg, rgba(102,22,224,0.44), rgba(102,22,224,0.44) 2px, transparent 2px, transparent 60px);
    transform: rotateX(80deg);
    transform-origin: center 0px 180px;
    z-index= -1;
    }
#about {
}
#portfolio {
}
#experience {
}
#contact {
}
#main {
    flex: 2;
    
}

</style>